html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.top-bar {
  width: 1100px;
  min-height: 293px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.nav-menu {
  justify-self: start;
  min-width: 391.48px;
  min-height: 22px;
}

.brand-logo {
  justify-self: center;
  display: block;
}

.logo-img {
  width: 148px;
  height: 105px;
}

.nav-list {
  display: flex;
  gap: 29px;
  font-size: 18px;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 135px 0 140px 50px;
}

.nav-item {
  padding-left: 0;
}

.nav-item_offset-1 {
  padding-left: 3.3px;
}

.nav-item_offset-2 {
  padding-left: 5px;
}

.nav-item_deco a,
.contact-link,
.footer-contact-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.contact-info {
  justify-self: end;
  margin-right: 86.5px;
  padding-bottom: 4.5px;
}

.contact-list {
  list-style: none;
  font-size: 18px;
  line-height: 24.3px;
}

.hero-section {
  width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.overlay-bg {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}

.hero-heading {
  display: flex;
  color: white;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
}

.hero-word_left {
  margin: 165px 764px 0 50px;
}

.hero-word_center {
  margin: 18px 380.5px 15px 380.5px;
}

.hero-word_right {
  margin: 0 50px 10px 663px;
}

.hero-caption {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 96px 50px 50px 50px;
}

.hero-text {
  font-size: 22px;
  line-height: 28px;
  color: white;
  text-transform: uppercase;
  word-spacing: 19px;
  margin: 0;
}

.hero-cta {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

.catalog {
  width: 1052px;
  height: 723px;
  margin: 180px 24px 120px 24px;
}

.catalog-heading {
  font-weight: bold;
  font-size: 40px;
  margin-left: 40px;
  text-transform: uppercase;
  margin-bottom: 26.5px;
}

.catalog-grid {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-item {
  width: 334px;
  height: 596px;
  padding: 0;
  margin: 0;
}

.lot-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 48px 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.lot-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
}

.lot-desc {
  font-size: 20px;
  line-height: 1.2;
  color: white;
  margin: 0;
}

.lot-card_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lot-card_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lot-card_art {
  background-image: url(../images/card-lot-03.jpg);
}

.catalog-more {
  font-size: 20px;
  display: block;
  text-transform: lowercase;
  text-decoration: underline;
  line-height: 1;
  padding-left: 40px;
  margin: 33px auto 0;
  text-underline-offset: 4px;
}

.info-section {
  margin: 80px 24px 160px 24px;
  width: 1052px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.info-content {
  margin: 138px 0 13px 0;
}

.info-img-placeholder {
  width: 240px;
  height: 240px;
  background-image: url(../images/logo-white.svg);
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-size: 148px 114px;
  border-radius: 50%;
  margin: 35px 72px 320px 47px;
}

.info-heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  margin: 3px 402px 103px 0;
}

.info-text-block {
  font-size: 20px;
  line-height: 24px;
}

.info-para_first {
  margin-right: 5px;
  margin-bottom: 24px;
}

.page-footer {
  width: 1100px;
  display: grid;
  grid-template-columns: 468.6px 163.9px 467.5px;
  margin-top: 5px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-self: start;
  line-height: 24.3px;
  margin: 4px 0 82px 51px;
  letter-spacing: 0.06em;
}

.footer-nav {
  font-size: 18px;
  line-height: 1;
  padding: 1px 0 115px;
  text-align: center;
  justify-self: center;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 4px;
  margin: 0;
  padding: 0;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  justify-self: end;
  list-style: none;
  padding: 0;
  gap: 48px;
  margin: 1px 50px 131px 177.5px;
}

.social-icon {
  width: 48px;
  height: 48px;
}

a {
  color: inherit;
}